.my-account-container {
    min-height: 60vh;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 24px;
}

.border-container {
    border: 1px solid var(--header-text);
    border-radius: 5px;
    padding: 32px;
}

.required {
    color: red;
    margin-left: 0.3em;
    font-weight: bold;
}

.recover-password a{
    color: var(--text-color);
    &:hover {
        cursor: pointer;
        color: var(--primary);
    }
}

